.App {
  background-color: rgb(39, 39, 39);
}

.App-header {
  background-color: #34a5da;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 3vh;
  color: black;
  padding-left: 2vw;
}

div{
  height: 15vh;
}